body {
    margin: 10px 10%;
    text-align: center;
    background-color:#99ffff;
}

header {
    margin-bottom: 50px;
    border-radius: 15px;
    padding: 1em;

}

.game-intro button {
    margin: 20px auto;
    width: 40%;
}

.no-show {
    display: none;
}

.stats-container {
    position: fixed;
    bottom: 0;
}

.stats li {
    display: inline-block;
    width: 200px;
    border: 1px solid black;
}
